table {
    width: 100%;
}

table th,
table td {
    padding: 15px 30px;
    text-align: left;
    white-space: nowrap;
}

table th {
    background-color: #fff;
}

table td {
    color: #364d67;
    font-weight: 600;
    background-color: #f1f7fd;
}

table tbody tr {
    border-top: 1px solid #f0f4f8;
}

table .image {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

table .image img {
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    object-fit: cover;
    flex-shrink: 0;
}
.sticky-table {
    overflow: auto;
    border: 1px solid #f0f4f8;
}

.sticky-table tbody td:first-child .sticky-table thead th:first-child {
    position: sticky;
    left: 0;
}

.sticky-table tbody td:first-child {
    padding-right: 50px;
}
