.my_modal-dialog {
    max-width: none;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%) !important;
    margin: 0;
}

@media (max-width: 450px) {
    .my_modal-dialog {
        width: 100%;
    }
}
